<div class="chat">
  <div class="chat-body">
    <img
      src="https://source.unsplash.com/QAB-WJcbgJk/60x60"
      alt="avartar"
      class="img-profile rounded-circle"
    />
  </div>
  <div class="chat-avartar"><%= message.body %></div>
</div>
