<li class="nav-item">
  <%= link_to group_path(group), class: "nav-link" do %>
    <img src="https://source.unsplash.com/QAB-WJcbgJk/60x60" alt="avartar" class="img-profile rounded-circle"/>
    <span><%= group.name %></span>
  <% end %>
</li>
